.analyticsPage {
  display: flex;
  min-height: 100vh;
  background: #f4f5ff;
}

/* Sidebar */
.analyticsSidebar {
  width: 250px;
  background: #f4f5ff;
  color: black;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.analyticsSidebar h2 {
  margin-bottom: 30px;
  color: #6c63ff;
}

.analyticsSidebar ul {
  list-style: none;
  padding: 0;
}

.analyticsSidebar li {
  padding: 14px;
  margin-bottom: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.analyticsSidebar li:hover,
.analyticsSidebar .active {
  background: #6c63ff;
}

.createBtn,
.logoutBtn,
.backBtn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.createBtn {
  background: #6c63ff;
  color: white;
}

.logoutBtn {
  background: crimson;
  color: white;
}

.backBtn {
  background: white;
  color: black;
}

/* Main */
.analyticsMain {
  flex: 1;
  padding: 30px;
}

.analyticsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analyticsHeader input {
  padding: 12px;
  width: 260px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

/* Stats */
.statsGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.statCard {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.statCard p {
  font-size: 29px;
  font-weight: bold;
  margin: 12px 0;
  color: #6c63ff;
}

.statCard span {
  color: gray;
}

/* Charts */
.chartsRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.chartCard {
  background: white;
  padding: 25px;
  border-radius: 20px;
}

.fakeChart {
  display: flex;
  align-items: end;
  gap: 14px;
  height: 220px;
  margin-top: 25px;
}

.fakeChart div {
  width: 45px;
  background: #6c63ff;
  border-radius: 10px 10px 0 0;
}

/* Activity */
.activityCard {
  background: white;
  padding: 25px;
  border-radius: 20px;
  margin-top: 30px;
}

.activityItem {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}