* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
}

.page {
  padding: 30px;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

}

.menu {
  font-size: 28px;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.signBtn {
  padding: 10px 22px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
    color: black;

}

.card {
  max-width: 1200px;
  margin: auto;
  background: #f7efff;
  border-radius: 30px;
  padding: 25px;
    color: black;


}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 20px;
  border-radius: 20px;
  
}

.logo {
  font-weight: 700;
  color: #580377;
}

.navLinks {
  display: flex;
  gap: 20px;
  
}

.navBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
    color: black;

}

.heroText {
  text-align: center;
  margin-top: 50px;
}

.heroText h2 {
  font-size: 55px;
  color: #600384;
}

.heroText p {
  margin-top: 15px;
  color: #666;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  
}

.primaryBtn {
  background: #200289;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.secondaryBtn {
  background: white;
  border: 1px solid #ddd;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
    color: black;

}

.imageBox {
  margin-top: 40px;
  text-align: center;
  position: relative;
}

.imageBox img {
  width: 100%;
  max-width: 900px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.floatingCard {
  position: absolute;
  left: 40px;
  bottom: 30px;
  background: white;
  padding: 15px;
  border-radius: 15px;
}

.bottom {
  text-align: center;
  margin-top: 40px;
}

.featuresSection {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featureCard {
  background: white;
  padding: 25px;
  border-radius: 20px;
}

.featureImage img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.purple {
  background: #4f2df5;
  color: white;
}

.ctaSection {
  margin-top: 80px;
  background: #ddd6fe;
  padding: 60px;
  border-radius: 24px;
  text-align: center;
}